name: Remove old artifacts

on:
   repository_dispatch:
   workflow_dispatch:
    inputs:

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Remove old artifacts
      uses: c-hive/gha-remove-artifacts@v1
      with:
        age: '2 days'
        # Optional inputs
        # skip-tags: true
        # skip-recent: 5